body {
  text-align: center;
}

h1 {
  font
}

input {
  width: 20em;
  text-align: center;
}

section {
  border: 1px black solid;
  width: 20em;
  height: 32em;
  justify-self: center;
  margin: 1em 0 0 0;
}

p {
  border: 1px black solid;
  margin: 1em;
  background-color: red;
  color: white;
}

p:hover {
  background-color: green;
  color: white;
}

.strikethrough {
  text-decoration: line-through;
  background-color: green;
  color: white;
}