@import url('https://fonts.googleapis.com/css2?family=Encode+Sans:wght@100..900&family=Homemade+Apple&display=swap');

header {
  cursor: default;
  font-family: "Encode Sans", sans-serif;
}

body {
  text-align: center;
  background-color: lightblue;
}

h1 {
  font-weight: bold;
  font-size: 2em;
}

#input-task {
  width: 20em;
  height: 1.5em;
  text-align: center;
  font-family: "Encode Sans", sans-serif;
}

button {
  height: 2em;
  user-select: none;
  border-radius: .25em;
  border-width: 1px;
}

button:hover {
  font-weight: bold;
  border-width: 2px;
}

button:active {
  background-color: black;
  color: white;
}

#to-do-list {
  border: 1px black solid;
  border-radius: .5em;
  width: 25em;
  height: 32em;
  justify-self: center;
  margin: 1em;
  background-color: white;
  overflow: auto;
  display: flex;
  flex-direction: column;
  font-family: "Encode Sans", sans-serif;
}

.textBox {
  display: flex;
  flex-direction: row;
  justify-items: center;
  align-items: center;
  height: 2.5em;
}

.task {
  border: 1px black solid;
  border-radius: .25em;
  background-color: red;
  color: white;
  margin: .25em .5em;
  height: 1.5em;
  width: 85%;
  align-content: center;
  cursor: default;
}

.task:hover {
  font-weight: bold;
  border-width: 2px;
}

.deleteX {
  border: 1px black solid;
  border-radius: .25em;
  background-color: grey;
  color: black;
  margin .25em .5em;
  padding: .01em;
  width: 6%;
  cursor: default;
  user-select: none;
}

.deleteX:hover {
  font-weight: bold;
  border-width: 2px;
}

.deleteX:active {
  background-color: black;
  color: white;
}

.strikethrough {
  text-decoration: line-through;
  background-color: green;
  color: white;
}