body {
  text-align: center;
  background-color: lightblue;
}

h1 {
  font-weight: bold;
  font-size: 2em;
}

input {
  width: 20em;
  text-align: center;
}

button:hover {
  font-weight: bold;
}

button:active {
  background-color: black;
  color: white;
}

#toDoList {
  border: 1px black solid;
  border-radius: .5em;
  width: 20em;
  height: 32em;
  justify-self: center;
  margin: 1em;
  background-color: white;
  overflow: auto;
  display: flex;
  flex-direction: column;
}

.textBox {
  display: flex;
  flex-direction: row;
}

.task {
  border: 1px black solid;
  border-radius: .25em;
  background-color: red;
  color: white;
  margin: .5em;
  width: 85%;
  align-content: center;
}

.task:hover {
  font-weight: bold;
}

.deleteX {
  border: 1px black solid;
  border-radius: .25em;
  background-color: grey;
  color: black;
  margin .5em;
  padding: .01em;
  width: 5%;
}

.strikethrough {
  text-decoration: line-through;
  background-color: green;
  color: white;
}